label {
  padding: 0.4rem;
}

.addTaskInput {
  margin: 0.4rem;
  font-family: "Work Sans", sans-serif;

  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

.openAddTaskButton {
  margin-bottom: 13px;
}

.addTaskButton {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-bottom: 18px;
}
