.display {
  padding: 0 0.7rem 0 0.7rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.doneButton {
  margin-right: 0.3rem;
}

.deleteButton {
  margin-left: 0.3rem;
}

input {
  border: none;
  margin: 0 0.4rem 0 3.43rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
}

.display:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
